.call-buy {
  display: flex;
  align-items: center;
}

.call-buy .phoneicon {
  margin-right: 10px;
  color: white;
  font-size: 38px;
}
.call-buy span {
  color: #fff;
  font-size: 13px;
}
.call-buy .phonenumber {
  color: #fff;
  font-size: 13px;
  transform: translateY(-10%);
  font-weight: bold;
}
.hidden-arrow i {
  font-size: 18px;
  color: #fff;
}
.account {
  background-color: #df3346;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65px;
  padding: 3px 0;
  border-radius: 10px;
}
.usericon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.carttitle span {
  font-size: 13px;
}

.cart-flex {
  display: flex;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-title {
  font-size: 13px;
  text-align: left;
}

.cart {
  display: flex;
  align-items: center;
  position: relative;
}

.search input:focus {
  box-shadow: 2px 50px 50px #000 !important;
}
.body-header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;

  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}
.status_order {
  width: 130px;
  cursor: pointer;
}
.status_order:hover {
  color: #fff;
}
.status_order i {
  font-size: 34px;
  margin-right: 10px;
}
.status_order {
  font-size: 13px;
  line-height: 20px;

  color: #fff;
  display: flex;
  align-items: center;
  height: 100%;
}
